<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="js/underscore-min.js"></script>
  <link rel="stylesheet" href="desktop.css" />
</head>
<body>
<script id="article_card" type="text/template">
  <div class="article_brief">
	<h3><%= title %><span><%= pubdate %></span></h3>
	<%= content %>
  </div>
</script>
  
<div id="article_cards">
</div>

<script type="text/javascript" src="desktop.js"></script>

</body>
</html>
