<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="js/underscore-min.js"></script>
  <link rel="stylesheet" href="desktop.css" />
</head>
<body>
<script id="article_card" type="text/template">
  <div class="article_brief">
    <a class="link" href="<%= link %>" target="_blank">
	<span class="title"><%= title %></span>
	<span class="excerpt"><%= content %></span>
    </a>
  </div>
</script>
  
<div id="article_cards">
</div>

<script type="text/javascript" src="desktop.js"></script>

</body>
</html>
